In [1]:
import pandas as pd
import nltk

In [2]:
df = pd.read_json('../../output_data/2_tc_nltk_preprocessed.json')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25763 entries, 0 to 25762
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   title            25763 non-null  object
 1   tag              25763 non-null  object
 2   s1_title_lower   25763 non-null  object
 3   s2_clean_title   25763 non-null  object
 4   s3_tokenized     25763 non-null  object
 5   s4_no_stopwords  25763 non-null  object
 6   s5_lemmatized    25763 non-null  object
dtypes: object(7)
memory usage: 1.4+ MB

In [4]:
df.head(4)

,title,tag,s1_title_lower,s2_clean_title,s3_tokenized,s4_no_stopwords,s5_lemmatized
0,My personal ranking of Community's use of alte...,COMMUNITY,my personal ranking of community's use of alte...,my personal ranking of communitys use of alter...,"[my, personal, ranking, of, communitys, use, o...","[personal, ranking, communitys, use, alternati...","[personal, ranking, community, use, alternativ..."
1,It took 30 years for climate tech investments ...,ENVIRONMENT,it took 30 years for climate tech investments ...,it took 30 years for climate tech investments ...,"[it, took, 30, years, for, climate, tech, inve...","[took, 30, years, climate, tech, investments, ...","[took, 30, year, climate, tech, investment, pa..."
2,Rain when sitting in a car,RELAX,rain when sitting in a car,rain when sitting in a car,"[rain, when, sitting, in, a, car]","[rain, sitting, car]","[rain, sitting, car]"
3,Is Cassis worth staying in?,TRAVEL,is cassis worth staying in?,is cassis worth staying in,"[is, cassis, worth, staying, in]","[cassis, worth, staying]","[cassis, worth, staying]"

In [5]:
# In order to perform padding, find max token count 

lemmatized_df = pd.DataFrame({'lemmatized': df['s5_lemmatized'], 'tag': df['tag']})

lemmatized_df.head(5)

                                          lemmatized          tag
0  [personal, ranking, community, use, alternativ...    COMMUNITY
1  [took, 30, year, climate, tech, investment, pa...  ENVIRONMENT
2                               [rain, sitting, car]        RELAX
3                           [cassis, worth, staying]       TRAVEL
4  [new, research, suggests, black, hole, may, ac...    ASTRONOMY

In [6]:
lemmatized_df['token_count'] = lemmatized_df['lemmatized'].apply(lambda word_list: len(word_list))

lemmatized_df.head(5)

                                          lemmatized          tag  token_count
0  [personal, ranking, community, use, alternativ...    COMMUNITY            6
1  [took, 30, year, climate, tech, investment, pa...  ENVIRONMENT           13
2                               [rain, sitting, car]        RELAX            3
3                           [cassis, worth, staying]       TRAVEL            3
4  [new, research, suggests, black, hole, may, ac...    ASTRONOMY           10

In [7]:
lemmatized_df.to_json('../../output_data/3_lemmatized_df.json', orient='records',  indent=2)

In [8]:
import sys
 
sys.path.append('../')
from globals import SUPPORTED_NUMBER_OF_TOKENS

max_token_count = lemmatized_df['token_count'].max()

print('max token count:', max_token_count)


# The max is 44, column padding will be adjusted to 50 (manually adjusted by the programmer) here I only print the set value
print('supported token count:', SUPPORTED_NUMBER_OF_TOKENS)

if SUPPORTED_NUMBER_OF_TOKENS != max_token_count:
    raise ValueError('SUPPORTED_NUMBER_OF_TOKENS is not the same as max_token_count!!!')

max token count: 44
supported token count: 44