In [28]:
import tensorflow as tf

print("Num GPUs Available: ", len(tf.config.list_physical_devices('GPU')))
if tf.test.gpu_device_name():
    print('Default GPU Device: {}'.format(tf.test.gpu_device_name()))
else:
    print("Please install GPU version of TF")

print(tf.test.gpu_device_name())

Num GPUs Available:  1
Default GPU Device: /device:GPU:0
/device:GPU:0

In [29]:
import tensorflow as tf
print("Num GPUs Available: ", len(tf.config.experimental.list_physical_devices('GPU')))

Num GPUs Available:  1

In [30]:
import pandas as pd

df = pd.read_csv('../../output_data/4_2_vectorized_ds_glove_25.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25763 entries, 0 to 25762
Columns: 1102 entries, Unnamed: 0 to tag
dtypes: float64(1100), int64(1), object(1)
memory usage: 216.6+ MB

In [31]:
df.head()

,Unnamed: 0,input_0,input_1,input_2,input_3,input_4,input_5,input_6,input_7,input_8,...,input_1091,input_1092,input_1093,input_1094,input_1095,input_1096,input_1097,input_1098,input_1099,tag
0,0,0.035234,0.54248,-0.75981,-0.029171,1.94140,-0.17883,0.25397,0.49265,-0.00256,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,COMMUNITY
1,1,-0.398190,0.92849,1.11940,-0.132170,-0.29808,-0.52848,1.06140,-0.70803,-0.48539,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ENVIRONMENT
2,2,-0.942140,-0.24345,0.20744,0.214930,-1.06640,1.19490,1.52340,-0.16527,0.35522,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RELAX
3,3,-1.074400,-0.88249,0.27640,0.647550,-0.35475,0.25591,-0.70326,-1.00450,1.19360,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TRAVEL
4,4,-0.177000,0.43200,0.21391,-0.295150,0.47344,-0.38013,1.60180,0.56238,0.40478,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ASTRONOMY

In [32]:
df = df.fillna(0)

df.head()

,Unnamed: 0,input_0,input_1,input_2,input_3,input_4,input_5,input_6,input_7,input_8,...,input_1091,input_1092,input_1093,input_1094,input_1095,input_1096,input_1097,input_1098,input_1099,tag
0,0,0.035234,0.54248,-0.75981,-0.029171,1.94140,-0.17883,0.25397,0.49265,-0.00256,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,COMMUNITY
1,1,-0.398190,0.92849,1.11940,-0.132170,-0.29808,-0.52848,1.06140,-0.70803,-0.48539,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ENVIRONMENT
2,2,-0.942140,-0.24345,0.20744,0.214930,-1.06640,1.19490,1.52340,-0.16527,0.35522,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,RELAX
3,3,-1.074400,-0.88249,0.27640,0.647550,-0.35475,0.25591,-0.70326,-1.00450,1.19360,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,TRAVEL
4,4,-0.177000,0.43200,0.21391,-0.295150,0.47344,-0.38013,1.60180,0.56238,0.40478,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ASTRONOMY

In [33]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score

In [34]:
X = df.drop(['tag', 'Unnamed: 0'], axis=1)
y = df['tag']

y = pd.get_dummies(y)

y = y.astype('float32')

y.shape

(25763, 31)

In [35]:
x_shape = X.shape[1]

x_shape

1100

In [36]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)

print(X_train.info())
print(X_test.info())

<class 'pandas.core.frame.DataFrame'>
Index: 23186 entries, 15312 to 23654
Columns: 1100 entries, input_0 to input_1099
dtypes: float64(1100)
memory usage: 194.8 MB
None
<class 'pandas.core.frame.DataFrame'>
Index: 2577 entries, 2141 to 13169
Columns: 1100 entries, input_0 to input_1099
dtypes: float64(1100)
memory usage: 21.6 MB
None

In [37]:
import tensorflow as tf

model = tf.keras.models.Sequential()

model.add(tf.keras.layers.Dense(1100, activation='relu'))
model.add(tf.keras.layers.Dense(4*1100, activation='relu'))
model.add(tf.keras.layers.Dense(8*1100, activation='relu'))
model.add(tf.keras.layers.Dense(8*1100, activation='relu'))
model.add(tf.keras.layers.Dense(8*1100, activation='relu'))
model.add(tf.keras.layers.Dense(4*1100, activation='relu'))
model.add(tf.keras.layers.Dense(2*1100, activation='relu'))
model.add(tf.keras.layers.Dense(31, activation='softmax'))

model.compile(
    optimizer=tf.keras.optimizers.Adam(learning_rate=0.0006),
    loss=tf.keras.losses.CategoricalCrossentropy(),
    metrics=['accuracy'] 
    )

In [38]:
X_train_np = X_train.to_numpy()
y_train_np = y_train.to_numpy()
X_test_np = X_test.to_numpy()
y_test_np = y_test.to_numpy()

model.fit(X_train_np, y_train_np, validation_data=(X_test_np, y_test_np), batch_size=256, epochs=25)

Epoch 1/25
91/91 [==============================] - 7s 67ms/step - loss: 3.1652 - accuracy: 0.1033 - val_loss: 2.7975 - val_accuracy: 0.1506
Epoch 2/25
91/91 [==============================] - 6s 65ms/step - loss: 2.5382 - accuracy: 0.2295 - val_loss: 2.4886 - val_accuracy: 0.2414
Epoch 3/25
91/91 [==============================] - 6s 65ms/step - loss: 2.1180 - accuracy: 0.3566 - val_loss: 2.1839 - val_accuracy: 0.3811
Epoch 4/25
91/91 [==============================] - 6s 65ms/step - loss: 1.7525 - accuracy: 0.4724 - val_loss: 2.1409 - val_accuracy: 0.3989
Epoch 5/25
91/91 [==============================] - 6s 65ms/step - loss: 1.4140 - accuracy: 0.5789 - val_loss: 2.1389 - val_accuracy: 0.4327
Epoch 6/25
91/91 [==============================] - 6s 65ms/step - loss: 1.1040 - accuracy: 0.6679 - val_loss: 2.2710 - val_accuracy: 0.4249
Epoch 7/25
91/91 [==============================] - 6s 65ms/step - loss: 0.8441 - accuracy: 0.7483 - val_loss: 2.4496 - val_accuracy: 0.4280
Epoch 8/25
91/91 [==============================] - 6s 65ms/step - loss: 0.6541 - accuracy: 0.8075 - val_loss: 2.7067 - val_accuracy: 0.4226
Epoch 9/25
91/91 [==============================] - 6s 65ms/step - loss: 0.4925 - accuracy: 0.8555 - val_loss: 2.6852 - val_accuracy: 0.4265
Epoch 10/25
91/91 [==============================] - 6s 65ms/step - loss: 0.3892 - accuracy: 0.8873 - val_loss: 3.0151 - val_accuracy: 0.4187
Epoch 11/25
91/91 [==============================] - 6s 65ms/step - loss: 0.3041 - accuracy: 0.9122 - val_loss: 3.2587 - val_accuracy: 0.4191
Epoch 12/25
91/91 [==============================] - 6s 65ms/step - loss: 0.2553 - accuracy: 0.9278 - val_loss: 3.3946 - val_accuracy: 0.4179
Epoch 13/25
91/91 [==============================] - 6s 65ms/step - loss: 0.2175 - accuracy: 0.9387 - val_loss: 3.4361 - val_accuracy: 0.4199
Epoch 14/25
91/91 [==============================] - 6s 65ms/step - loss: 0.1941 - accuracy: 0.9455 - val_loss: 3.5365 - val_accuracy: 0.4303
Epoch 15/25
91/91 [==============================] - 6s 65ms/step - loss: 0.1813 - accuracy: 0.9504 - val_loss: 3.8614 - val_accuracy: 0.4276
Epoch 16/25
91/91 [==============================] - 6s 65ms/step - loss: 0.1486 - accuracy: 0.9583 - val_loss: 3.7052 - val_accuracy: 0.4257
Epoch 17/25
91/91 [==============================] - 6s 65ms/step - loss: 0.1361 - accuracy: 0.9602 - val_loss: 3.5806 - val_accuracy: 0.4292
Epoch 18/25
91/91 [==============================] - 6s 66ms/step - loss: 0.1292 - accuracy: 0.9633 - val_loss: 3.7753 - val_accuracy: 0.4272
Epoch 19/25
91/91 [==============================] - 6s 66ms/step - loss: 0.1163 - accuracy: 0.9659 - val_loss: 3.7046 - val_accuracy: 0.4428
Epoch 20/25
91/91 [==============================] - 6s 66ms/step - loss: 0.1100 - accuracy: 0.9684 - val_loss: 3.6014 - val_accuracy: 0.4373
Epoch 21/25
91/91 [==============================] - 6s 68ms/step - loss: 0.1034 - accuracy: 0.9710 - val_loss: 3.7941 - val_accuracy: 0.4284
Epoch 22/25
91/91 [==============================] - 6s 66ms/step - loss: 0.1164 - accuracy: 0.9667 - val_loss: 3.3999 - val_accuracy: 0.4311
Epoch 23/25
91/91 [==============================] - 6s 65ms/step - loss: 0.1008 - accuracy: 0.9702 - val_loss: 3.7821 - val_accuracy: 0.4393
Epoch 24/25
91/91 [==============================] - 6s 65ms/step - loss: 0.1006 - accuracy: 0.9704 - val_loss: 3.8372 - val_accuracy: 0.4501
Epoch 25/25
91/91 [==============================] - 6s 65ms/step - loss: 0.0999 - accuracy: 0.9707 - val_loss: 3.8052 - val_accuracy: 0.4280

In [39]:
X_test_np = X_test.to_numpy()
y_pred = np.argmax(model.predict(X_test_np), axis=1)


y_test_labels = np.argmax(y_test.values, axis=1)

accuracy = accuracy_score(y_test_labels, y_pred)
print(f'Accuracy: {accuracy}')

81/81 [==============================] - 0s 4ms/step
Accuracy: 0.42801707411719053