In [10]:
import pandas as pd

df = pd.read_csv('../../output_data/4_2_vectorized_ds_glove_25.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25763 entries, 0 to 25762
Columns: 1102 entries, Unnamed: 0 to tag
dtypes: float64(1100), int64(1), object(1)
memory usage: 216.6+ MB

In [11]:
df.head()

,Unnamed: 0,input_0,input_1,input_2,input_3,input_4,input_5,input_6,input_7,input_8,...,input_1091,input_1092,input_1093,input_1094,input_1095,input_1096,input_1097,input_1098,input_1099,tag
0,0,0.035234,0.54248,-0.75981,-0.029171,1.94140,-0.17883,0.25397,0.49265,-0.00256,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,COMMUNITY
1,1,-0.398190,0.92849,1.11940,-0.132170,-0.29808,-0.52848,1.06140,-0.70803,-0.48539,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ENVIRONMENT
2,2,-0.942140,-0.24345,0.20744,0.214930,-1.06640,1.19490,1.52340,-0.16527,0.35522,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RELAX
3,3,-1.074400,-0.88249,0.27640,0.647550,-0.35475,0.25591,-0.70326,-1.00450,1.19360,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TRAVEL
4,4,-0.177000,0.43200,0.21391,-0.295150,0.47344,-0.38013,1.60180,0.56238,0.40478,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ASTRONOMY

In [12]:
df = df.fillna(0)

df.head()

,Unnamed: 0,input_0,input_1,input_2,input_3,input_4,input_5,input_6,input_7,input_8,...,input_1091,input_1092,input_1093,input_1094,input_1095,input_1096,input_1097,input_1098,input_1099,tag
0,0,0.035234,0.54248,-0.75981,-0.029171,1.94140,-0.17883,0.25397,0.49265,-0.00256,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,COMMUNITY
1,1,-0.398190,0.92849,1.11940,-0.132170,-0.29808,-0.52848,1.06140,-0.70803,-0.48539,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ENVIRONMENT
2,2,-0.942140,-0.24345,0.20744,0.214930,-1.06640,1.19490,1.52340,-0.16527,0.35522,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,RELAX
3,3,-1.074400,-0.88249,0.27640,0.647550,-0.35475,0.25591,-0.70326,-1.00450,1.19360,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,TRAVEL
4,4,-0.177000,0.43200,0.21391,-0.295150,0.47344,-0.38013,1.60180,0.56238,0.40478,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ASTRONOMY

In [13]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score

In [14]:
X = df.drop(['tag', 'Unnamed: 0'], axis=1)
y = df['tag']

y = pd.get_dummies(y)

y = y.astype('float32')

y.shape

(25763, 31)

In [15]:
x_shape = X.shape[1]

x_shape

1100

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(X_train.info())
print(X_test.info())

<class 'pandas.core.frame.DataFrame'>
Index: 20610 entries, 3043 to 23654
Columns: 1100 entries, input_0 to input_1099
dtypes: float64(1100)
memory usage: 173.1 MB
None
<class 'pandas.core.frame.DataFrame'>
Index: 5153 entries, 2141 to 13238
Columns: 1100 entries, input_0 to input_1099
dtypes: float64(1100)
memory usage: 43.3 MB
None

Test nr 3

In [17]:
import tensorflow as tf

model = tf.keras.models.Sequential()

model.add(tf.keras.layers.Dense(1100, activation='sigmoid'))
model.add(tf.keras.layers.Dense(2200, activation='sigmoid'))
model.add(tf.keras.layers.Dense(1100, activation='sigmoid'))
model.add(tf.keras.layers.Dense(31, activation='softmax'))

model.compile(
    optimizer=tf.keras.optimizers.Adam(learning_rate=0.001),
    loss=tf.keras.losses.CategoricalCrossentropy(),
    metrics=['accuracy'] 
    )

In [18]:
model.fit(X_train, y_train, validation_data=(X_test, y_test), batch_size=32, epochs=10)

Epoch 1/10
645/645 [==============================] - 28s 43ms/step - loss: 2.7545 - accuracy: 0.2105 - val_loss: 2.2350 - val_accuracy: 0.3381
Epoch 2/10
645/645 [==============================] - 28s 43ms/step - loss: 2.0801 - accuracy: 0.3881 - val_loss: 1.9969 - val_accuracy: 0.4124
Epoch 3/10
645/645 [==============================] - 27s 42ms/step - loss: 1.8969 - accuracy: 0.4419 - val_loss: 1.9441 - val_accuracy: 0.4312
Epoch 4/10
645/645 [==============================] - 33s 52ms/step - loss: 1.7684 - accuracy: 0.4825 - val_loss: 1.8920 - val_accuracy: 0.4460
Epoch 5/10
645/645 [==============================] - 41s 63ms/step - loss: 1.6602 - accuracy: 0.5097 - val_loss: 1.8836 - val_accuracy: 0.4531
Epoch 6/10
645/645 [==============================] - 43s 66ms/step - loss: 1.5540 - accuracy: 0.5413 - val_loss: 1.8967 - val_accuracy: 0.4613
Epoch 7/10
645/645 [==============================] - 32s 50ms/step - loss: 1.4530 - accuracy: 0.5694 - val_loss: 1.8886 - val_accuracy: 0.4679
Epoch 8/10
645/645 [==============================] - 31s 48ms/step - loss: 1.3539 - accuracy: 0.5950 - val_loss: 1.9169 - val_accuracy: 0.4729
Epoch 9/10
645/645 [==============================] - 30s 46ms/step - loss: 1.2526 - accuracy: 0.6249 - val_loss: 1.9669 - val_accuracy: 0.4780
Epoch 10/10
645/645 [==============================] - 30s 47ms/step - loss: 1.1460 - accuracy: 0.6554 - val_loss: 2.0775 - val_accuracy: 0.4681

In [19]:
y_pred = np.argmax(model.predict(X_test), axis=1)

y_test_labels = np.argmax(y_test.values, axis=1)

accuracy = accuracy_score(y_test_labels, y_pred)
print(f'Accuracy: {accuracy}')

162/162 [==============================] - 1s 7ms/step
Accuracy: 0.46807684843780323

In [20]:
model.save('../../saved_models/ann_3')

INFO:tensorflow:Assets written to: ../../saved_models/rnn_ann_3\assets

INFO:tensorflow:Assets written to: ../../saved_models/rnn_ann_3\assets