In [2]:
# Import global variables

import sys
 
sys.path.append('../')

from globals import SUBBREDDIT_LIST

In [3]:
import pandas as pd

In [4]:
reddit_data_list = SUBBREDDIT_LIST

In [5]:
current_data = reddit_data_list[0]

df = pd.read_json(f'../../reddit_data/{current_data}.json')

df.head(3)

,title,link,author,score,created
0,Cardiovascular mortality has improved but is s...,https://www.sciencedirect.com/science/article/...,t2_15td0d,1,1691509822
1,Study suggests that rise in antibiotic resista...,https://english.elpais.com/science-tech/2023-0...,t2_612zd,1,1691509647
2,A Crucial Early Warning System for Disease Out...,https://www.wired.com/story/a-crucial-early-wa...,t2_mj011,2,1691506932

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 634 entries, 0 to 633
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    634 non-null    object
 1   link     634 non-null    object
 2   author   634 non-null    object
 3   score    634 non-null    int64
 4   created  634 non-null    int64
dtypes: int64(2), object(3)
memory usage: 24.9+ KB

In [7]:
# Merge collected

df_arr = []

for single_data in reddit_data_list:

    df = pd.read_json(f'../../reddit_data/{single_data}.json')
    df['tag'] = single_data.upper()
    df_arr.append(df)

merged_df = pd.concat(df_arr)

In [8]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25763 entries, 0 to 968
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    25763 non-null  object
 1   link     25763 non-null  object
 2   author   25763 non-null  object
 3   score    25763 non-null  int64
 4   created  25763 non-null  int64
 5   tag      25763 non-null  object
dtypes: int64(2), object(4)
memory usage: 1.4+ MB

In [9]:
merged_df.head(3)

,title,link,author,score,created,tag
0,Cardiovascular mortality has improved but is s...,https://www.sciencedirect.com/science/article/...,t2_15td0d,1,1691509822,HEALTH
1,Study suggests that rise in antibiotic resista...,https://english.elpais.com/science-tech/2023-0...,t2_612zd,1,1691509647,HEALTH
2,A Crucial Early Warning System for Disease Out...,https://www.wired.com/story/a-crucial-early-wa...,t2_mj011,2,1691506932,HEALTH

In [10]:
merged_df.tail(3)

,title,link,author,score,created,tag
966,How can I tell my parents this without them ta...,https://www.reddit.com/r/relationships/comment...,t2_3damxkfv,1,1690935231,RELATIONSHIPS
967,"Думаю, бросать девушку после такого или дать е...",https://www.reddit.com/r/relationships/comment...,t2_3ykq8iq08,0,1690934937,RELATIONSHIPS
968,Unable to date because of platonic love,https://www.reddit.com/r/relationships/comment...,t2_gpr2w00tn,1,1690934362,RELATIONSHIPS

In [11]:
merged_df.to_json('../../output_data/merged_reddit_data.json', orient='records', indent=2)

In [12]:
shuffled_df = merged_df.sample(frac=1, random_state=1998)
shuffled_df.to_json('../../output_data/shuffled_merged_reddit_data.json', orient='records',  indent=2)

In [13]:
# Create text-categorized dataset that holds only tags and descriptions
# tc stands for text-categorized

tc_df = shuffled_df.drop(columns=['author', 'link', 'score', 'created'])

tc_df.head(4)

                                                 title          tag
427  My personal ranking of Community's use of alte...    COMMUNITY
477  It took 30 years for climate tech investments ...  ENVIRONMENT
689                         Rain when sitting in a car        RELAX
850                        Is Cassis worth staying in?       TRAVEL

In [15]:
tc_df.to_json('../../output_data/tc_dataset.json', orient='records',  indent=2)

tc_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25763 entries, 427 to 636
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   25763 non-null  object
 1   tag     25763 non-null  object
dtypes: object(2)
memory usage: 1.6+ MB